In [1]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import select, text, MetaData, Table, Column, Integer, String, ForeignKey
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base

# Extract

In [6]:
years_df = pd.read_csv("../data_clean/years.csv", thousands=',')
states_df = pd.read_csv("../data_clean/states.csv", thousands=',')
pce_cats_df = pd.read_csv("../data_clean/pce_categories.csv", thousands=',')
wages_df = pd.read_csv("../data_clean/wages.csv", thousands=',')
pce_df = pd.read_csv("../data_clean/pce.csv", thousands=',')
rpp_df = pd.read_csv("../data_clean/rpp.csv", thousands=',')

,year,State,State Minimum Wage,Effective Minimum Wage,Median Household Income
0,1990,Alabama,0.00,6.63,23357
1,1990,Alaska,7.62,7.62,39298
2,1990,Arizona,0.00,6.63,29224
3,1990,Arkansas,6.43,6.63,22786
4,1990,California,6.63,6.63,33290
...,...,...,...,...,...
1576,2020,Virginia,7.25,7.25,81947
1577,2020,Washington,13.50,13.50,81083
1578,2020,West Virginia,8.75,8.75,51615
1579,2020,Wisconsin,7.25,7.25,67094
1580,2020,Wyoming,5.15,7.25,65108

# Transform

In [7]:
# Remove auto-generated index
years_df.set_index("year", inplace=True)
states_df.set_index("name", inplace=True)
pce_cats_df.set_index("category", inplace=True)
wages_df.set_index("year", inplace=True)
pce_df.set_index("year", inplace=True)
rpp_df.set_index("year", inplace=True)

#Rename columns to match database tables
wages_df.columns = ["state_name", "min_wage", "min_wage_eff", "median_wage"]
pce_df.columns = ["state_name", "pce_category", "pce_value"]
rpp_df.columns = ["state_name", "rpp_value"]

#Remove whitespace from PCE categories
pce_df['pce_category'] = pce_df['pce_category'].str.strip()

# Load

In [12]:
engine = create_engine("sqlite:///../min_wage.sqlite")

In [13]:
years_df.to_sql('par_years', con=engine, if_exists='replace')
states_df.to_sql('par_states', con=engine, if_exists='replace')
pce_cats_df.to_sql('par_pce', con=engine, if_exists='replace')

wages_df.to_sql('wages', con=engine, if_exists='replace')
pce_df.to_sql('pce', con=engine, if_exists='replace')
rpp_df.to_sql('rpp', con=engine, if_exists='replace')